.container h1 {
    text-align: center;
    color: black;
    font-weight: 200px;
}
.container form {
    padding: 100px;
    text-align: center;
}
.container_main {
    margin: 0 50px;
    text-align: center;
}
.container_main p {
    display: inline-block;
    font-size: 22px;
}
.container_dodaj {
    width: 300px;
    margin: auto;
}
.container_dodaj .row p {
    float: left;
}
.container_dodaj .row input {
    float: right;
}
.container_dodaj .row select {
    float: right;
    width: 174px;
    height: 26px;
}
.button_add {
    margin-bottom: 10px;
    margin-top: 13px;
}
.button_powrot {
    margin-top: 30px;
}
.footer {
    background-color: #1C2331;
}
body {
    background-color: #448898;
}
.container_main {
    margin: 0 50px;
    text-align: center;
}
.container_main p {
    display: inline-block;
    font-size: 22px;
}
.button_edit {
    margin-bottom: 10px;
    margin-top: 13px;
}
.button_powrot {
    margin-top: 30px;
}
.navbar {
    background-color: #06050F;
    border-radius: 0;
    padding: 50px;
}
.navbar-nav a {
    font-size: 25px;
    padding-left: 70px !important;
}
th {
    text-align: center;
    border-bottom: 2px solid black;
}
td {
    border-bottom: 1px solid black;
}
.table_container {
    margin: 0 100px;
}
table {
    background-color: #E4E4ED;
    border: 2px solid black;
}
.form_sort p {
    display: inline-block;
    font-size: 22px;
}
.container_main{
    text-align: center;
}