body {
     font-family:Arial, Sans-Serif;
}
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}
.form{
     width: 300px;
     margin: 0 auto;
	 position: relative;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color: #0067ab;
     text-shadow: rgba(0,0,0,0.24) 0 1px 0;
     font-size: 16px;
     box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
     border: 1px solid #0164a5;
     border-radius: 2px;
     margin-top: 10px;
     cursor:pointer;
}
input[type='submit']:hover {
     background-color: #024978;
}
.input_username_container{
	position: relative;
}
#printCheck{
	display: none;
	position: absolute;
	top: 0;
    left: 69%;
    background: rgba(213, 232, 236, 0.82);
    border-radius: 5px;
    color: green;
    padding: 10px;
    font-weight: bold;
    width: 160px;
}

#printCheck.wrong{
	color: red;
}
.user-view{
	float: right;
	font-size: 16px;
	color: #9d9d9d;
}

.user-view .user-name{
	font-weight: bold;
	font-size: 18px;
}

.logout_container a{
	font-size: 20px;
}

.login_reg_question{
	color: black;
	font-weight: bold;
}