.container h1 {
    text-align: center;
    color: black;
    font-weight: 200px;
}
.container form {
    padding: 100px;
    text-align: center;
}
.container_main {
    margin: 0 50px;
    text-align: center;
}
.container_main p {
    display: inline-block;
    font-size: 22px;
}
.container_dodaj {
    width: 300px;
    margin: auto;
}
.container_dodaj .row p {
    float: left;
}
.container_dodaj .row input {
    float: right;
}
.container_dodaj .row select {
    float: right;
    width: 174px;
    height: 26px;
}
.button_add {
    margin-bottom: 10px;
    margin-top: 13px;
}
.button_powrot {
    margin-top: 30px;
}
.footer {
    background-color: #1C2331;
}
body {
    background-color: #448898;
}
.container_main {
    margin: 0 50px;
    text-align: center;
}
.container_main p {
    display: inline-block;
    font-size: 22px;
}
.button_edit {
    margin-bottom: 10px;
    margin-top: 13px;
}
.button_powrot {
    margin-top: 30px;
}
.navbar {
    background-color: #06050F;
    border-radius: 0;
    padding: 50px;
}
.navbar-nav a {
    font-size: 25px;
    padding-left: 70px !important;
}
th {
    text-align: center;
    border-bottom: 2px solid black;
}
td {
    border-bottom: 1px solid black;
}
.table_container {
    margin: 0 100px;
}
table {
    background-color: #E4E4ED;
    border: 2px solid black;
}
.form_sort p {
    display: inline-block;
    font-size: 22px;
}
.container_main{
    text-align: center;
}
body {
     font-family:Arial, Sans-Serif;
}
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}
.form{
     width: 300px;
     margin: 0 auto;
	 position: relative;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}

#printCheck{
	display: none;
	position: absolute;
	top: 0;
    left: 69%;
    background: rgba(213, 232, 236, 0.82);
    border-radius: 5px;
    color: green;
    padding: 10px;
    font-weight: bold;
    width: 160px;
}

#printCheck.wrong{
	color: red;
}
.user-view{
	float: right;
	font-size: 16px;
	color: #9d9d9d;
}

.user-view .user-name{
	font-weight: bold;
	font-size: 18px;
}

.logout_container a{
	font-size: 20px;
}

.login_reg_question{
	color: black;
	font-weight: bold;
}

.input_username_container{
	position: relative;
}
.btn {
	width: 200px;
	margin-top: 10px;
}

.icon_edit {
    position:relative;
}    
.icon_edit:before {
	font-family: FontAwesome;
    content: "\f013";
    left:-5px;
    top:0;
 }
 .icon_delete {
    position:relative;
}    
.icon_delete:before {
	font-family: FontAwesome;
    content: "\f00d";
    left:-5px;
    top:0;
 }